.header {
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 50px !important;
    height: 50px !important;
    margin-right: 10px;
}